@media (min-width: 440px){
	body {
		padding-top: 5%;
		padding-left:5%;
		padding-right:5%;
	}
	
	.plottides {
		margin-top: 20px;
		clear: both;
		float:left;
		max-width: 90%;
	}
}

.yellow{
	color: #F6BE00;
}

.orange{
	color: #FFA500;
}

.red{
	color: #FF0000;
}

body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size:1em;
  padding-left:10%;
  padding-right:10%;
}

.tideTable{
	padding-top: 15px;
	padding-bottom: 15px;
}

.odd, .even, .footer, .waterQuality, .divBreak {
	clear:both;
}

.odd, .even, .tideTableHeader {
	width: 462px;
	margin: 0 auto;
}

.odd div{
	background: #DCFAFA;
}

.tideTime, .tideHeight, .sunParameter, .sunValue{
	float:left;
	width:100px;
}

.break{
	background: #ffffff
}

.tideArrow, .break{
	float:left;
	width: 30px;
}

.footer{
	font-size: smaller;
	padding-top: 12px;
}

.waterQuality, .divBreak{
	padding-top: 8px;
}

.footer p{
	margin-top: 6px;
	margin-bottom: 6px;
}

.footer i.material-icons{
	font-size: medium;
}

.tideTableHeader{
	font-weight:bold;
	text-align:center;
}

i.material-icons, .footer img{
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.footer img{
	width: 175px;
}

svg > path
{
    fill: none;
    stroke: #1874bb;
	stroke-width: 5;
}

.plottides {
	margin-top: 20px;
	clear: both;
	float:left;
}